
body {
	background-image: url("../../assets/images/background.png");
}

h1, h2, h3, h4, h5 {
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #4aaaa5;
}

p, a, label {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	color: #777777;
	line-height: 25px
}



/* Nav bar*/

.navbar-brand {
    
 
}

.card-title {
	text-decoration: none;
}

.navbar-nav {
    
}


/* social icons*/

.icon {
    height: 50px;
}

/* footer */

.footer {
    background-color: #666666;
    color: white;
}