/* Global */
/*============================================================================*/

/*.fa-circle, .fab {*/
/*  color: rgb(81,179,101);*/
/*}*/



/* Sections */
/*============================================================================*/

section {
  padding: 4em 0em 4em 0em;
}


/* Navigation Bar */
/*============================================================================*/

#mainNav {
  background: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}



/* Jumbotron */
/*============================================================================*/


.jumbotron-heading {
  font-weight: bold;
  color: white;
  font-size: 600%
}

.lead {
  color: white;
  font-size: 2rem
}

.jumbotron {
  position: relative;
  overflow: hidden;
  padding-top: 15rem;
  padding-bottom: 15rem;
  background-image: url("../../assets/images/Aurora-Borealis.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}



/* Services */
/*============================================================================*/


#services {
  line-height: 2;
}

/* About */
#about {
  background-color: rgb(69, 73, 85);
  color: white;
}

#about p {
  line-height: 1.6;

}



/* Portfolio */
/*============================================================================*/




/* Contact */
/*============================================================================*/

#contact {
  background-color: rgb(69, 73, 85);
  color: white;
}

#contact #message {
  height: 145px;
}



/* footer */
/*============================================================================*/

footer {
  padding: 2em 0em 2em 0em;
}


