/*================= CSS for old portfolio ======================*/

body {
	background-image: url("../../assets/images/background.png");
}

h1, h2, h3, h4, h5 {
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #4aaaa5;
}

p, a, label {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	color: #777777;
	line-height: 25px
}



/* Nav bar*/

.navbar-brand {
    
 
}

.card-title {
	text-decoration: none;
}

.navbar-nav {
    
}


/* social icons*/

.icon {
    height: 50px;
}

/* footer */

.footer {
    background-color: #666666;
    color: white;
}


/*===================== CSS for new profile - work in progress ==========================*/

/* Sections */
section {
  padding: 4em 0em 4em 0em;
}

/* Navigation Bar */
#mainNav {
  background: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}



/* Jumbotron */

.jumbotron-heading {
  font-weight: bold;
  color: white;
  font-size: 3rem
}

.lead {
  color: white;
  font-size: 2rem
}

.jumbotron {
  position: relative;
  overflow: hidden;
  padding-top: 15rem;
  padding-bottom: 15rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}




/* footer */
footer {
  padding: 2em 0em 2em 0em;
}



/*this is the custom css from bootstrap*/



.jumbotron {
  margin-bottom: 0;
  background-color: #fff;
  background-image: url("../../assets/images/headding-mt.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}


